@use '../abstracts/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  direction: rtl;
}
body {
  margin: 0;
  background-color: white;
}
button {
  border: 0;
  outline: 0;
  background: inherit;
}
